body {
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    background-color: #000;
    font-size: 1.2em;
}

html, body {
    height: 100%;
}

/* Layout */

.container {
    display: grid;
    grid-template-rows: 12rem auto 5rem;
    grid-template-columns: auto;
    height: 100%;
    grid-template-areas: 
        "header header header header"
        "main main . side"
        "footer footer footer footer";
}

/* Common */

.link {
    color: #d5d5d5;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.link:hover {
    font-weight: bolder;
    color: #fff;
}

.label {
    font-weight: bolder;
}

/* Header */

.header {
    grid-area: header;
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__me  {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.header__title {
    margin-left: 2rem;
}

.header__title-sub {
    display: block;
    font-size: 1.2rem;
}

/* Main */

.main {
    grid-area: main;
    margin-left: 6rem;
    margin-right: 3rem;
}

.about {
}

.experience {
}

.timeline {
    list-style-type: none;
    padding-left: 0;
}

.timeline__item {
  border-left: 0.1rem solid #fff;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.timeline__item:hover {
    transition: 0.2s;
    background-color: #232323;
}

.timeline__time {
    font-weight: 400;
    font-size: 1.2rem;
}

.skills-categories {
    display: flex;
    flex-wrap: wrap;
}

/* Side */

.side {
    grid-area: side;
    display: flex;
    justify-content: center;
}

.side-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

.side-list__item {
    height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-indent: -1rem;
}

.side-list__item::before {
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

.side-list__item--location::before {
    content: "🌏 ";
}

.side-list__item--email::before {
    content: "📧 ";
}

.side-list__item--github::before {
    content: "👨🏻‍💻 ";
}

.side-list__item--linkedin::before {
    content: "🤵🏻 ";
}

.side-list__item--twitter::before {
    content: "💬 ";
}

.link--email {
    display: none;
}

.location {
    display: inline;
    color: #fff;
    font-style: normal;
    font-weight: 600;
}

.location__flag {
    vertical-align:middle;
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
}

/* Footer */

.footer {
    grid-area: footer;
    text-align: center;
}

.license {
    font-size: 0.7rem;
}

/* Responsive */

@media only screen and (max-device-width: 768px) {
    body {
        font-size: 1.5em;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .header {
        order: -2;
    }

    .main {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .side {
        order: -1;
        justify-content: center;
    }

}