body {
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    background-color: #000;
    font-size: 1.2em;
}

html, body {
    height: 100%;
}

/* Layout */

.container {
    display: grid;
    grid-template-rows: 12rem auto 5rem;
    grid-template-columns: auto;
    height: 100%;
    grid-template-areas: 
        "header header header header"
        "main main . side"
        "footer footer footer footer";
}

/* Common */

.link {
    color: #80C0FF;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.link:hover {
    font-weight: bolder;
    color: #fff;
}

.columns {
    display: flex;
}

.columns__col {
    width: 50%;
}

.label {
    font-weight: bolder;
}

.list {
    margin-right: auto;
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
    margin-left: 2rem;
}

.list__item {
    margin-left: 2rem;
    margin-bottom: 0.4rem;
    text-indent: -2rem;
    line-height: 1.6rem;
}

.list__item::before {
    display: inline-block;
    width: 1rem;
    margin-left: 1rem;
}

/* Header */

.header {
    grid-area: header;
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__me  {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.header__title {
    margin-left: 2rem;
}

.header__title-sub {
    display: block;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* Main */

.main {
    grid-area: main;
    margin-left: 3rem;
}

.timeline {
    list-style-type: none;
    padding-left: 0;
}

.timeline__item {
  border-left: 0.1rem solid #fff;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.timeline__item:hover {
    transition: 0.2s;
    background-color: #232323;
}

.timeline__time {
    font-weight: 400;
    font-size: 1.2rem;
}

.skills-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.list--skills {
    width: 25rem;
}

.list__item--skills::before {
    content: "✅" ;
}

.list__item--hobbies::before {
    content: "✨";
}

.list__item--projects::before {
    content: "🛠";
}

/* Side */

.side {
    grid-area: side;
}

.list--side {
    height: 8rem;
    position: sticky;
    top: 10%;
}

.list__item--side {
    height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-indent: -1rem;    
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list__item--side::before {
    text-shadow: 0 0 4px #fff;
}

.list__item--location::before {
    content: "🌏";
}

.list__item--email::before {
    content: "📧";
}

.list__item--github::before {
    content: "👨🏻‍💻";
}

.list__item--linkedin::before {
    content: "🤵🏻";
}

.list__item--stackoverflow::before {
    content: "📚";
}

.list__item--twitter::before {
    content: "💬";
}

.link--email {
    display: none;
}

.location {
    display: inline;
    color: #fff;
    font-style: normal;
    font-weight: 600;
}

.location__flag {
    vertical-align:middle;
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
}


.list__item--lit::before {
    content: "📚";
}

/* Footer */

.footer {
    grid-area: footer;
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.license {
    font-size: 0.7rem;
    line-height: 1.4rem;
}

/* Responsive */

@media (max-width: 768px) {
    body {
        font-size: 1.2em;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .header {
        order: -2;
        min-height: 12rem;
    }

    .header__title {
        margin-left: 1rem;
    }

    .header__me {
       padding-top: 1rem; 
    }

    .main {
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .list--skills {
        width: auto;
    }

    .columns {
        flex-direction: column;
    }

    .columns__col {
        width: 100%;
    }

    .side {
        display: block;
        order: -1;
        justify-content: center;
        height: 8rem;
    }

    .list--side {
        height: unset;
        align-items: center;
    }

    .footer {
        margin-top: 1rem;
        padding-bottom: 2rem;
    }
}

@media (min-width: 769px) {
    .side-list {
        position: sticky;
        top: 10;
    }
}